{% extends 'base.html' %}
{% block content %}
<main class="form-signin">
    <div class="p-3 mb-3 bg-warning text-dark">{{ form.errors }}
      <label for="exampleInputEmail1">Санкт-Петербургский Политехнический университет</label>
    </div>
    
    <form action="" method="POST">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Вход</h1>
        <div class="form-floating">
          
                <label\ for="exampleInputEmail1">Логин</label>
                &nbsp;
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter username" required>
              </div>   
              <div class="form-floating">
                <label\ for="exampleInputPassword1">Пароль</label>
                &nbsp;
                <input type="password" class="form-control" name="password1" id="exampleInputPassword1" placeholder="Password" required>
          
              
              <button type="submit" class="btn btn-primary">Подтвердить</button>
            </form>
</main>
{% endblock %}