{% load static %}
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      
      
      {% if request.user.is_authenticated %}
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'account:home' %}" class="nav-link px-2 link-secondary">Профиль</a></li>
      </ul>
        <div class="nav-item dropdown">
          <div class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{request.user.profile.avatar.url}}" class="avatar-sm">&nbsp;{{request.user}}
          </div>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'account:logout' %}">Выход</a></li>
          </ul>
        </div>
        {% else %}
        <div class="col-md-4 text-end">
            <a href="{% url 'account:login' %}"><button type="button" class="btn btn-outline-primary me-2">Войти</button></a>
     
            <a href="{% url 'account:reg' %}"><button type="button" class="btn btn-primary" >Регистрация</button></a>
          </div>
        {% endif %}
    </header>
  </div>